<div class="container-header">
  <div class="mdl-grid tagline">
    <div class="mdl-cell mdl-cell--12-col">
      <h3> Contact </h3>
      <h6> Qui on est et comment on peut vous aider </h6>
    </div>
  </div>
</div>

<div class="constat1-background-cell">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col constat-container-text-right container-fact">
      <h4> L'équipe ? </h4>
      <p class="constat-text"> Nous sommes une équipe pluridisciplinaire de "touche-à-tout" du digital (consultants, développeurs, designers...) avec pour ambition de partager nos connaissances sur les nouvelles manières de travailler </p>
    </div>

  </div>
</div>

<div class="constat2-background-cell">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col constat-container-text-left container-fact">
      <h4> Notre projet ? </h4>
      <p class="constat-text"> On est persuadés que tout le monde peut devenir un geek, réapprendre a travailler efficacement, et ainsi se concentrer sur le sens de sa mission et le plaisir de construire un beau projet
    </div>

  </div>
</div>

<div class="constat3-background-cell">
  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--6-col constat-container-text-right container-fact">
      <h4> Notre background ?</h4>
      <p class="constat-text"> A l'ère du digital tout évolue super vite et on n'a très rapidement plus les bons outils et les bonnes pratiques pour faire naître nos projets efficacement. Ce qu'apprennent les étudiants en école est déjà obsolète lorsqu'il arrivent sur le marché du travail </p>
    </div>

  </div>
</div>




<div class=" pricing-box mdl-cell mdl-cell--12-col">

<div class="pricing-head-background"></div>

  <div class="mdl-grid container-pricing">

  <div class="mdl-cell mdl-cell--12-col">
    <h2 class="pricing-title-head">Pricing</h2>
  </div>

    <div class="mdl-cell mdl-cell--3-col pricing-table">
    <div class="pricing-content">
      <img src="https://s22.postimg.org/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
    <div class="pricing-txt-container">
      <h4 class="pricing-title">Early Geek</h4>
      <h5 class="pricing-cost">FREE</h5>
      <ul class="pricing-txt">
        <li>Accès gratuit à la majorité des cours</li>
        <li>Accès illimité à notre sélection de milliers d'outils</li>
      </ul>
      <button class=" pricing-button mdl-button mdl-js-button mdl-js-ripple-effect">
        Sign up
      </button>

      <p class="pricing-description">Free</p>
    </div>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col pricing-table">
    <div class="pricing-content">
      <img src="https://s28.postimg.org/ju5bnc3x9/plane.png" alt="" class="pricing-img">
    <div class="pricing-txt-container">
      <h4 class="pricing-title">Master Geek</h4>
      <h5 class="pricing-cost">150$</h5>
      <ul class="pricing-txt">
        <li>Accès premium pour les cours advanced</li>
        <li>Sélection personnalisé d'outils</li>
      </ul>
      <button class=" pricing-button mdl-button mdl-js-button mdl-js-ripple-effect">
        Sign up
      </button>

      <p class="pricing-description">1 month offer</p>
    </div>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col pricing-table">
    <div class="pricing-content">
      <img src="https://s21.postimg.org/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
    <div class="pricing-txt-container">
      <h4 class="pricing-title">Advanced Entreprise</h4>
      <h5 class="pricing-cost">400$</h5>
      <ul class="pricing-txt">
        <li>Plateforme personnalisée en marque blanche </li>
        <li>(Legacy, data safety, compliance...)</li>
      </ul>
      <button class=" pricing-button mdl-button mdl-js-button mdl-js-ripple-effect">
        Sign up
      </button>

      <p class="pricing-description">Trial for free</p>
    </div>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col pricing-table">
    <div class="pricing-content">
      <img src="https://s21.postimg.org/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
    <div class="pricing-txt-container">
      <h4 class="pricing-title">Advanced Entreprise</h4>
      <h5 class="pricing-cost">1500$</h5>
      <ul class="pricing-txt">
        <li>Plateforme personnalisée en marque blanche </li>
        <li>(Legacy, data safety, compliance...)</li>
      </ul>
      <button class=" pricing-button mdl-button mdl-js-button mdl-js-ripple-effect">
        Sign up
      </button>

      <p class="pricing-description">Trial for free</p>
    </div>
    </div>
    </div>

  </div>
</div>
