/*
** Generic classes
*/
.center {
  text-align: center;
  margin: 0 auto;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

@media (min-width: 800px) {
  .right-align {
    text-align: right;
  }
  .full-width {
    width: 100%;
  }
}

/*
** CONSTAT SECTION
** CARDS REDESIGN
*/

.constat-card {
  margin: auto;
  padding: 25px 50px 50px 50px;
  border-radius: 20px;
  box-shadow: 0 9px 46px 3px rgba(0, 0, 0, 0.05), 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0);
  max-width: 1280px;
  background-color: white;
  opacity: 0.9;
}

.constat-title {
  font-family: Montserrat;
  font-size: 16pt;
  color: #003056;
  margin-bottom: 40px;
  margin-top: 24px;
}

.constat-text {
  font-family: Montserrat;
  font-size: 11pt;
  font-weight: 100;
  color: #0062ad;
}

.constat-background-cell {
  min-height: 300px;
  height: 100vh;
  display: flex;
  padding: 0 10%;
  background-repeat:no-repeat !important;
  background-size: contain;
  background-size: 80% !important;
}
.constat1 {
  background: url(../../../assets/img/contact_1.png);
  background-color: #04BFBF;
  background-position: left center;
}
.constat2 {
  background: url(../../../assets/img/contact_2.png);
  background-color: #FFFFC7;
  background-position: right center;
}
.constat3 {
  background: url(../../../assets/img/contact_3.png);
  background-color: #B5FFFF;
  background-position: left center;
}

/*
** PRICING SECTION
*/

.pricing-max-width {
  max-width: 1280px;
}

.pricing-head-background {
  height: 150px;
  background-color: #B5FFFF;
}

@media (max-width: 800px) {
  .pricing-head-background {
    display: none;
  }
}

.container-pricing {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 9px 46px 3px rgba(0, 0, 0, 0.05), 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0);
}

@media (min-width: 800px) {
  .container-pricing {
    margin: -200px 0px 80px 0px;
  }
}

.pricing-title-head {
  margin: 15px 0px 5px 0px;
  margin-bottom: 5px;
  font-family: Montserrat;
  font-size: 18pt;
  color: #93C2F9;
  text-align: center;
}

ul {
  padding-left: 0px;
}

.pricing-button {
  color: #6ab1e8;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.pricing-table {
  padding: 10px;
  position: relative;

}

 .pricing-description {
   text-align: center;
   list-style-type: none;
   font-family: Montserrat;
   font-size: 10px;
   color: lightgrey;
 }

.pricing-txt {
  text-align: center;
  list-style-type: none;
  font-family: Montserrat;
  font-size: 12px;
  color: #9ca8b3;
}

.pricing-txt-container {
  margin-top: -80px;
}


.pricing-title {
  text-align: center;
  list-style-type: none;
  color: #59a6ff;
  margin-top: 0px;
}

.pricing-cost {
  text-align: center;
  list-style-type: none;
  color: white;
  margin-top: 0px;
  text-transform: uppercase;
  background-color: #9ec9fb;
  margin: 5px;
  padding: 5px;
  width: 70px;
  border-radius: 5px;
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.pricing-img {
  margin: auto;
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%, -65%);
  margin-top: 100px;
}

.mdl-button.call-to-action {
  border-radius: 40px;
  padding: 30px 40px;
  line-height: 0;
  width: 100%;
  margin-top: -50px;
}

/*
** To delete
**
*/

h3 {
  font-family: Montserrat;
  font-size: 18pt;
  color: #93C2F9;
}

h4 {
  font-family: Montserrat;
  font-size: 16pt;
  color: #003056;
  margin-bottom: 40px;
}

h5 {
  font-family: Montserrat;
  font-size: 12pt;
  color: #92b1ff;
}

h6 {
font-family: Montserrat;
font-size: 10pt;
color: #0062ad;
}
