<div class="container-header">
  <div class="mdl-grid tagline">
    <div class="mdl-cell mdl-cell--12-col">
      <h3> Contact </h3>
      <h6> Qui on est et comment on peut vous aider </h6>
    </div>
  </div>
</div>

<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">

      <div class="mdl-cell mdl-cell--12-col">
        <h2> Geek Me Up ! </h2>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col constat-container">
          <img src="https://image.flaticon.com/icons/svg/390/390992.svg" class="constat-img">
          <h5>L'équipe ?</h5>
          <p class="constat-text"> Nous sommes une équipe pluridisciplinaire de "touche-à-tout" du digital (consultants, développeurs, designers...) avec pour ambition de partager nos connaissances sur les nouvelles manières de travailler </p>
        </div>

        <div class="mdl-cell mdl-cell--4-col constat-container">
          <img src="https://image.flaticon.com/icons/svg/375/375279.svg" class="constat-img">
          <h5>Notre projet ? </h5>
          <p class="constat-text"> On est persuadés que tout le monde peut devenir un geek, réapprendre a travailler efficacement, et ainsi se concentrer sur le sens de sa mission et le plaisir de construire un beau projet </p>
        </div>

        <div class="mdl-cell mdl-cell--4-col constat-container">
          <img src="https://image.flaticon.com/icons/svg/327/327023.svg" class="constat-img">
          <h5>Notre background ? </h5>
          <p class="constat-text"> Fort de 5 ans d’expérience en tant qu’évangélistes du nouveau paradigme salarial, nous avons forgé notre méthodologie et expertise en accompagnant la transformation numérique des entreprises du CAC40 </p>
        </div>


        <div class="mdl-cell mdl-cell--12-col">
          <h2> On peut vous aider ? </h2>
          Nos offres s'adaptent à vos besoins !
          <ul> 
            <li>EarlyGeek - Accès gratuit à la majorité des cours</li>
            <li>MasterGeek - Accès premium pour les cours advanced</li>
            <li>EarlyEntreprise - Plateforme personnalisée en marque blanche (legacy, data safety, compliance...)</li>
            <li>AdvancedEntreprise : Programme intense de montée en puissance d'une équipe (adapted path, internal tools, ateliers boost, objectifs et suivi des résultats...)</li>
          </ul>
        </div>

        <div class="mdl-cell mdl-cell--12-col">
          <h2> Nous contacter </h2>
          Bouton / formulaire de contact <br>
          <br><br>
        </div>

      </div>
    </div>
  </div>
</div>
