
<div class="mdl-grid constat-background-cell constat1">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-card constat-card mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="mdl-card__title no-padding">
        <p class="constat-title">L'équipe ?</p>
    </div>
    <div class="mdl-card__supporting-text no-padding">
        <p class="constat-text">Nous sommes une équipe pluridisciplinaire de "couteaux-suisse" du digital (consultants, développeurs, designers...) avec pour ambition de partager nos connaissances sur les nouvelles manières de travailler </p>
    </div>
  </div>
</div><!-- /.mdl-grid /.constat1 -->

<div class="mdl-grid constat-background-cell constat2">
  <div class="mdl-card constat-card mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__title no-padding">
        <div class="mdl-layout-spacer"></div>
        <p class="constat-title">Notre projet ?</p>
    </div>
    <div class="mdl-card__supporting-text no-padding full-width">
        <p class="constat-text right-align">On est persuadés que tout le monde peut devenir un geek, réapprendre à travailler efficacement, et ainsi se concentrer sur le sens de sa mission et le plaisir de construire un beau projet</p>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div><!-- /.mdl-grid /.constat2 -->

<div class="mdl-grid constat-background-cell constat3">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-card constat-card mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="mdl-card__title no-padding">
        <p class="constat-title">Notre background ?</p>
    </div>
    <div class="mdl-card__supporting-text no-padding">
        <p class="constat-text">Fort de plusieurs années d'expérience en tant qu’évangélistes du nouveau paradigme salarial, nous avons forgé notre méthodologie et expertise en accompagnant la transformation numérique des entreprises du CAC40 </p>
    </div>
  </div>
</div><!-- /.mdl-grid /.constat3 -->

<div class="mdl-grid pricing-head-background">
</div><!-- /.mdl-grid /.pricing-head-background -->

<div class="mdl-grid pricing-max-width">

  <div class="mdl-card container-pricing mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">

    <div class="mdl-card__title center">
      <p class="pricing-title-head"> Prêt à vous aider ! </p>
    </div><!-- /.mdl-card__title -->

    <div class="mdl-grid no-margin">

      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone pricing-table">
        <div class="pricing-content">
          <img src="https://s22.postimg.org/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
          <div class="pricing-txt-container">
            <h4 class="pricing-title">Early Geek</h4>
            <h5 class="pricing-cost">FREE</h5>
            <ul class="pricing-txt">
              <li>Accès gratuit à la majorité des cours</li>
              <li>Accès illimité à notre sélection de milliers d'outils</li>
              <li>Sollicitation de notre pool d'experts en cas de question </li>
              <li> &nbsp; </li>
              <li> &nbsp; </li>
            </ul>
            <button class=" pricing-button mdl-button mdl-js-button mdl-js-ripple-effect" routerLink="/">
              Try me
            </button>
            <p class="pricing-description">Free</p>
          </div>
        </div>
      </div><!-- /.mdl-cell--4-col -->

      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone pricing-table">
        <div class="pricing-content">
          <img src="https://s28.postimg.org/ju5bnc3x9/plane.png" alt="" class="pricing-img">
          <div class="pricing-txt-container">
            <h4 class="pricing-title">Master Geek</h4>
            <h5 class="pricing-cost">1 BEER</h5>
            <ul class="pricing-txt">
              <li>Accès premium aux cours Advanced</li>
              <li>Sélection personnalisée d'outils</li>
              <li>Accès privilégié à la communauté d'experts</li>
              <li>Programmes de formation personnalisés </li>
              <li> &nbsp; </li>
            </ul>
            <button class=" pricing-button mdl-button mdl-js-button mdl-js-ripple-effect" (click)="crispMessage('Bonjour, j aimerai en savoir plus sur l offre Master Geek :) ')">
              Sign up
            </button>
            <p class="pricing-description">1 month free</p>
          </div>
        </div>
      </div><!-- /.mdl-cell--4-col -->

      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone pricing-table">
        <div class="pricing-content">
          <img src="https://s21.postimg.org/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
          <div class="pricing-txt-container">
            <h4 class="pricing-title">Rocket Entreprise</h4>
            <h5 class="pricing-cost">CUSTOM</h5>
            <ul class="pricing-txt">
              <li>Plateforme personnalisée en marque blanche </li>
              <li>Intégration derrière un SSO</li>
              <li>Geek Sessions en physique avec nos experts</li>
              <li>Suivi d'indicateurs de Geekisation d'une équipe</li>
              <li>Création de cours sur mesures</li>
            </ul>
            <button class=" pricing-button mdl-button mdl-js-button mdl-js-ripple-effect" (click)="crispMessage('Bonjour, j aimerai en savoir plus sur l offre Entreprise :) ')">
              Chat with me now
            </button>
            <p class="pricing-description">Trial for free</p>
          </div>
        </div>
      </div><!-- /.mdl-cell--4-col -->
    </div><!-- /.mdl-grid -->
  </div>
</div>
