<!--
<ng-template #checked><i class="material-icons">check_box</i></ng-template>
<ng-template #unchecked><i class="material-icons">check_box_outline_blank</i></ng-template>

<div class='mdl-grid'  *ngIf="ready">
    <span *ngFor="let filter of filters; let i = index">
        <button id="menu{{i}}" class="mdl-button mdl-js-button" style="border-left: 1px solid #e6e6e6; text-align: right;" *ngIf="filter.Values">
            <span>{{filter.Name}}</span>
            <i class="material-icons" style="color: #e6e6e6;">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect" attr.for="menu{{i}}" *ngIf="filter.Values">
            <li *ngFor="let value of filter.Values;" class="mdl-menu__item valign-wrapper" (click)="toggleCriteria(filter.ModelName, value)">
                <span *ngIf="hasCriteria(filter.ModelName,value);then checked else unchecked"></span>
                {{value}}
            </li>
        </ul>
    </span>
</div>
-->
<ng-template #coloredButton>
  <button type="button" class="mdl-chip filter-chip" style="background-color: #3f51b5; color: white; display:none;">
      <span class="mdl-chip__text"><b> All Tools </b> </span>
  </button>
</ng-template>
<div class="mdl-grid" *ngIf="ready">
  <div class="mdl-cell mdl-cell--12-col filter-container" *ngIf="filters[0].Values">

    <span *ngIf="allSelected;then coloredButton else greyButton"></span>

    <span *ngFor="let usage of filters[0].Values; let i = index;">
      <span *ngIf="hasCriteria('Usage', usage)">
        <button type="button" class="mdl-chip filter-chip"  [ngStyle]="{'background-color': filters[0].Colors[i], 'color': 'white'}" (click)="toggleCriteria('Usage', usage); isCriteriaActive('Usage');">
            <span class="mdl-chip__text">{{usage}}</span>
        </button>
      </span>
      <span *ngIf="!hasCriteria('Usage', usage)">
        <button type="button" class="mdl-chip filter-chip" (click)="toggleCriteria('Usage', usage)">
            <span class="mdl-chip__text">{{usage}}</span>
        </button>
      </span>
    </span>
  </div>
</div>

<ng-template #greyButton>
    <div class="container-delete-filter clickable" (click)="restoreCriteria('Usage')">
        <span> <i class="material-icons icon-delete-filter">clear</i> Clear filter</span>
    </div>
</ng-template>