<div class="container-header">
  <div class="mdl-grid tagline" [@slideUp]="headerState">
    <div class="mdl-cell mdl-cell--12-col">
      <img class="logo" src="../../../assets/img/logo.png">
    <h6> Ici on apprend à travailler différemment grâce au digital :) </h6>
    </div>
  </div>


  <div class="mdl-grid" [@slideUp]="headerState">
    <div class="mdl-cell mdl-cell--12-col">

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
          <h5>Je suis</h5>
          <select id="blue">
            <option>Qqun avide de savoir :)</option>
            <option>Employé</option>
            <option>Consultant</option>
            <option>Marketeux</option>
            <option>Financeman</option>
            <option>Etudiant</option>
          </select>
      </div>

      <div class="mdl-cell mdl-cell--5-col">
          <h5>Je cherche à</h5>
          <select [(ngModel)]="selectedLearningPath" id="orange" *ngIf="selectedLearningPath">
            <option *ngFor="let path of paths.records" [ngValue]="path">{{path.fields.Goal}}</option>
          </select>
      </div>

      <div class="mdl-cell mdl-cell--3-col">
            <h5>Et j'ai</h5>
            <select id="red">
            <option>Pas le temps !</option>
            <option selected>5mn pas plus</option>
            <option>10 petites minutes</option>
            <option>30mn, le temps d'une réunion efficace</option>
            <option>1 bonne heure</option>
            <option>Tout mon temps si ça vaut le coup</option>
          </select>
        </div>

        <div class="action-button mdl-cell mdl-cell--1-col ">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" (click)="showLearningPath()">
          <i class="material-icons material-icon-header">arrow_forward</i>
        </button>

        <!-- BOUTON CHATBOT
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" routerLink="/chatbot">
          <i class="material-icons">arrow_forward</i>
        </button>
        -->
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-grid tagline" [@slideUp]="recoState" *ngIf="selectedLearningPath">
    <div class="mdl-cell mdl-cell--12-col">
      <!--
      <h3> C'est parti pour {{ selectedLearningPath.fields['Goal'] }} ! </h3>
      <p> {{ selectedLearningPath.fields['Problem'] }} <br> {{ selectedLearningPath.fields['Conviction'] }} <br> {{ selectedLearningPath.fields['Learning Path'] }} </p> -->
      <app-chatbot [learningPath]="finalLearningPath" [recoTools]="recoTools"></app-chatbot>
    </div>

  </div>

</div>


<div class="container">

    <div class="mdl-grid" *ngIf="tools">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--6-col-phone tool-card" *ngFor="let tool of tools.records">

        <div class="tool-logo-card clickable" (click)="openModal(tool)">
          <img class="tool-card-star" *ngIf="tool.fields['Staff pick']" src="../../../assets/img/plateforme/star_ico.svg">
          <img src="{{ tool.fields['Logo'][0]['url'] }}" class="tool-logo" *ngIf="tool.fields['Logo']">
        </div>

        <div class="tool-card-content clickable" (click)="openModal(tool)">
          <h4 class="tool-card-title"> {{ tool.fields['Tool'] }} </h4>
          <p class="tool-card-difficulty"> {{ tool.fields['Difficulty'] }}</p>

          <p class="truc"> {{ tool.fields['Description'] }}</p>

          <span class="label-usage" *ngFor="let usage of tool.fields['Usage']">
              <span class="mdl-chip__text"> {{ usage }} </span>
          </span>
          <br>
          <div class="tool-card-platform-icon-container">
            <ng-container *ngFor="let platform of tool.fields['Plateforme']">
              <img class="tool-card-platform-icon" *ngIf="platform == 'Android'" src="../../../assets/img/plateforme/Android_ico.svg">
              <img class="tool-card-platform-icon" *ngIf="platform == 'Desktop PC'" src="../../../assets/img/plateforme/Windows_ico.svg">
              <img class="tool-card-platform-icon" *ngIf="platform == 'iOS'" src="../../../assets/img/plateforme/Apple_ico.svg">
              <img class="tool-card-platform-icon" *ngIf="platform == 'Web'" src="../../../assets/img/plateforme/Web_ico.svg">
            </ng-container>
          </div>
        </div>
      </div>

</div>
