.container {
  max-width: 1400px;
  margin: auto;
}

.tool-card {
  border-radius: 15px;
  padding: 25px;
  overflow: visible;
  background-color: transparent;
}

.tool-card-star {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
}

.tool-card-content {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  height: 200px;
  box-shadow: 0 9px 46px 3px rgba(0, 0, 0, 0.05), 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0);
  position: relative;
}

.tool-logo {
  width: 60%;
  border-radius: 5px;
  margin: auto;
  max-height: 100px;
  display: block;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  margin-top: 15px;
}

.tool-logo-card {
  border-radius: 15px;
  margin: 0 auto;
  max-height: 100px;
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: white;
  width: 100px;
  height: 100px;
  position: relative;
}

.tool-card-platform-icon {
  width: 25px;
}

.tool-card-platform-icon-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: Montserrat;
  font-size: 9pt;
  font-weight: 300;
  font-style: normal;
  color: #93C2F9;
  line-height: 20px;
}

.tool-card-difficulty {
  font-family: Montserrat;
  font-size: 9pt;
  font-weight: bold;
  color: #CEE5FF;
  margin-top: -15px;
}

h4 {
  font-family: Montserrat;
  font-size: 16pt;
  color: #93C2F9;
  font-weight: ;
}

.tool-card-title {
  margin-top: 0px;
}

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:auto;
  font-family: montserrat,arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

#blue {
  background-color:#4FBDF9;
}

#blue:hover {
  background-color:#96DAFF;
}

#green {
  background-color:#69F1A6;
}

#green:hover {
  background-color:#B0E4C7;
}

#red {
  background-color:#F94F95;
}

#red:hover {
  background-color:#F5A5C5;
}

select:focus, select:active {
  border:0;
  outline:0;
}
