hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border: 0;
  border-top: 1px solid #ccc;
  border-color: #3f51b5;
}

.action-button {
  margin-top: 69px;
}

.mdl-button--fab {
  background: rgb(236, 241, 247);
}

.material-icon-header {
  color: #4457c0;
}

.not-visible {
  visibility: hidden;
}

.tagline {
  width: 100%;
  text-align: center;
}

h3 {
  font-family: Montserrat;
  font-size: 18pt;
  color: #93C2F9;
}

h1 {
  font-family: Roboto;
  font-size: 20pt;
  font-weight: thin;
  color: #93C2F9;
}

.selectLessonContainer {
  margin-bottom: 80px;
}

.subtitle {
  font-family: Roboto;
  font-size: 12pt;
  font-weight: 100;
  font-style: normal;
  color: #80bafe;
}

.cta-container {
  width: 484px;
  display: block;
  margin: auto;
}

.cta-link {
  text-decoration: none;
}

.cta-button {
  display: inline-block;
  margin: 0 10px;
  width: 220px;
  height: 50px;
  border-radius: 30px;
}

.scroll-down {
  font-family: Roboto;
  font-size: 10pt;
  font-weight: 500;
  font-style: normal;
  color: #80bafe;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.container-header {
  width: 80%;
  padding: 0 10%;
  background: url(../../../assets/img/banner.png);
  background-position: left center;
  background-repeat:no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/wave-hero-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 0 10% 11% 10%;
}

.logo {
  width: calc(100px + 10%);
  margin-top: 30px;
  margin-bottom: 20px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.tool-card {
  border-radius: 15px;
  padding: 10px;
  margin-top: 40px;
  overflow: visible;
  background-color: transparent;
}

.tool-card-star {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
}

.tool-card-content {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  height: 200px;
  box-shadow: 0 9px 46px 3px rgba(0, 0, 0, 0.05), 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0);
  position: relative;
}

.tool-logo {
  width: 60%;
  border-radius: 5px;
  margin: auto;
  max-height: 100px;
  display: block;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  margin-top: 15px;
}

.tool-logo-card {
  border-radius: 15px;
  margin: 0 auto;
  max-height: 100px;
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: white;
  width: 100px;
  height: 100px;
  position: relative;
}

.tool-card-platform-icon {
  width: 25px;
}

.tool-card-platform-icon-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

p {
  font-family: Montserrat;
  font-size: 9pt;
  font-weight: 300;
  font-style: normal;
  color: #93C2F9;
  line-height: 20px;
}

.label-usage {
  font-family: Montserrat;
  font-size: 9pt;
  font-weight: bold;
  color: #7ab8ff;
  bottom: 55px;
}

.truc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

.tool-card-difficulty {
  font-family: Montserrat;
  font-size: 9pt;
  font-weight: bold;
  color: #CEE5FF;
  margin-top: -10px;
  vertical-align: middle;
  display: inline-block;
}

.difficulty-round {
  width: 13px;
  height: 13px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  background-color: #55d184;
}

.beginner .padawan {
  background-color: #55d184;
}
.jedi {
  background-color: #fcb800;
}
.master-jedi {
  background-color: #ff3e75;
}

h4 {
  font-family: Montserrat;
  font-size: 16pt;
  color: #93C2F9;
}

h5 {
  font-family: Roboto;
  font-size: 13pt;
  color: #93C2F9;
  text-align: center;
}

.tool-card-title {
  margin-top: 0px;
}

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:auto;
  font-family: montserrat,arial,tahoma;
  font-size:14px;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

#blue {
  background-color:#4FBDF9;
}

#blue:hover {
  background-color:#2FAEF4;
}

#orange {
  background-color:#F2A255;
  font-size: 17px;
  font-family: Roboto;
}

#orange:hover {
  background-color:#DE942A;
}

#red {
  background-color:#FA65A2;
}

#red:hover {
  background-color:#EC3680;
}

select:focus, select:active {
  border:0;
  outline:0;
}

select {
  border-radius: 40px;
  width: 70%;
  margin: 15px;
}

.suggest-tool-icon {
  color: lightblue;
  font-size: 60px;
  width: 60px;
  margin: 50px auto 0 auto;
  display: block;
}

.suggest-tool-label {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.suggest-tool-card {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.suggest-tool-card:hover {
  opacity: 1;
}

/* ANIMATION TOOL CARDS DELAYED
@keyframes FadeIn { 
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.tool-card {
  animation: FadeIn 0.3s linear;
  animation-fill-mode: both;
}

.tool-card:nth-child(1) { animation-delay: .1s }
.tool-card:nth-child(2) { animation-delay: .2s }
.tool-card:nth-child(3) { animation-delay: .3s }
.tool-card:nth-child(4) { animation-delay: .4s }
*/