<div class="container-header">
  <div class="mdl-grid tagline" [@slideUp]="headerState">
    <div class="mdl-cell mdl-cell--12-col">
      <img class="logo" src="../../../assets/img/logo.png">
      <div [@slideUp]="ctaButtonState">
        <h1> Apprend à travailler comme un digital native ! </h1>
        <p class="subtitle">Ici on apprend à utiliser les meilleurs outils et pratiques du digital pour concevoir, s'organiser, <br>et communiquer comme de vrais startupers </p>
      </div>
    </div>
  </div>


  <div class="mdl-grid mdl-layout--large-screen-only" [@slideUp]="headerState">

      <!--
      <div class="mdl-cell mdl-cell--3-col">
          <h5>Je suis</h5>
          <select id="blue">
            <option>Qqun avide de savoir :)</option>
            <option>Employé</option>
            <option>Consultant</option>
            <option>Marketeux</option>
            <option>Financeman</option>
            <option>Etudiant</option>
          </select>
      </div>
    -->

      <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset selectLessonContainer">
        <div class="cta-container" [@slideUp]="ctaButtonState">
          <a class="cta-link" scrollTo href="#main-section">
          <button class="cta-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
              Voir les outils
            </button>
          </a>
          <button class="cta-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="showSelectLesson()">
              Surprend moi !
            </button>
        </div>

        <div [@slideUp]="selectLessonState">
          <h5> Sélectionne un objectif que tu aimerais bien atteindre, <br> notre assistant s'occupe du reste ! </h5>
          <select [(ngModel)]="selectedLearningPath" id="orange" *ngIf="selectedLearningPath">
            <ng-container *ngFor="let path of paths.records">
              <option [ngValue]="path" [disabled]="!path.fields.Published" >{{path.fields.Goal}}</option>
            </ng-container>
          </select>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" (click)="showLearningPath()">
              <i class="material-icons material-icon-header">arrow_forward</i>
            </button>
        </div>
      </div>

      <!--
      <div class="mdl-cell mdl-cell--3-col">
            <h5>Et j'ai</h5>
            <select id="red">
            <option>Pas le temps !</option>
            <option selected>5mn pas plus</option>
            <option>10 petites minutes</option>
            <option>30mn, le temps d'une réunion efficace</option>
            <option>1 bonne heure</option>
            <option>Tout mon temps si ça vaut le coup</option>
          </select>
        </div>
      -->

  </div>

  <div class="mdl-grid tagline" [@slideUp]="recoState" *ngIf="selectedLearningPath">
    <div class="mdl-cell mdl-cell--12-col">
      <!--
      <h3> C'est parti pour {{ selectedLearningPath.fields['Goal'] }} ! </h3>
      <p> {{ selectedLearningPath.fields['Problem'] }} <br> {{ selectedLearningPath.fields['Conviction'] }} <br> {{ selectedLearningPath.fields['Learning Path'] }} </p> -->
      <app-chatbot [learningPath]="finalLearningPath" [tools]="tools.records" [linkedContent]="linkedContent.records" *ngIf="tools"></app-chatbot>
    </div>

  </div>

  <a class="scroll-down" scrollTo href="#main-section" > Explore la boite à outil <br> <i class="material-icons">keyboard_arrow_down</i> </a>

</div>


<div class="container" id="main-section" >

    <filter (change)="onCriteriasChanged($event)" #filter></filter>
    <!--
    <hr>
    <p>Insert Staff pick here</p>
    <hr>
    -->
    <div class="mdl-grid" *ngIf="tools && filter.ready">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--6-col-phone tool-card" *ngFor="let tool of tools.records | having:filter.criterias; let i = index;">

          <div class="tool-logo-card clickable" (click)="openModal(tool)">
            <img class="tool-card-star" *ngIf="tool.fields['Staff pick']" src="../../../assets/img/plateforme/star_ico.svg">
            <img src="{{ tool.fields['Logo'][0]['url'] }}" class="tool-logo" *ngIf="tool.fields['Logo']">
            <img src="../../../assets/img/nologo.png" class="tool-logo" *ngIf="!tool.fields['Logo']">
          </div>

          <div class="tool-card-content clickable" (click)="openModal(tool)">
            <h4 class="tool-card-title"> {{ tool.fields['Tool'] }} </h4>
            <p class="tool-card-difficulty" [style.color]="dataService.getTagColor(tool.fields['Difficulty'], tags)" *ngIf="tags"> {{ tool.fields['Difficulty'] }} </p>

            <p class="truc"> {{ tool.fields['Description'] }}</p>

            <span class="label-usage" *ngFor="let usage of tool.fields['Usage']">
                <span class="mdl-chip__text" > {{ usage }} </span>
            </span>
            <br>
            <div class="tool-card-platform-icon-container">
              <ng-container *ngFor="let platform of tool.fields['Plateforme']">
                <img class="tool-card-platform-icon" *ngIf="platform == 'Android'" src="../../../assets/img/plateforme/Android_ico.svg">
                <img class="tool-card-platform-icon" *ngIf="platform == 'Desktop PC'" src="../../../assets/img/plateforme/Windows_ico.svg">
                <img class="tool-card-platform-icon" *ngIf="platform == 'iOS'" src="../../../assets/img/plateforme/Apple_ico.svg">
                <img class="tool-card-platform-icon" *ngIf="platform == 'Web'" src="../../../assets/img/plateforme/Web_ico.svg">
              </ng-container>
            </div>
          </div>
      </div>

      <!-- Card "Add a New Tool" -->
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--6-col-phone tool-card">
        <div class="tool-logo-card not-visible clickable" (click)="dataService.openUrl('https://airtable.com/shrJf6CZwg1sK9bYR', 'Home', 'suggestNewTool', 'newTool')">
          <img src="../../../assets/img/nologo.png" class="tool-logo">
        </div>
        <div class="tool-card-content suggest-tool-card clickable" (click)="dataService.openUrl('https://airtable.com/shrJf6CZwg1sK9bYR', 'Home', 'suggestNewTool', 'newTool')">
          <i class="material-icons suggest-tool-icon">add_circle</i>
          <p class="suggest-tool-label"> SUGGEST A NEW TOOL </p>
        </div>
      </div>

    </div>
</div>
