<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <p class=time-master-wording>Temps d'apprentissage <br>
      <span class="time-master">{{ context.tool.fields['Time to master'] }}</span></p>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <div class="mdl-cell mdl-cell--1-col" >
          <span class="clickable close-button" (click)="this.dialog.close()"><i class="material-icons">close</i></span>
        </div>
      </nav>
    </div>
  </header>
</div>

<div class="mdl-grid">

<div class="mdl-cell mdl-cell--12-col">
  <div class="mdl-grid">

      <div class="mdl-cell mdl-cell--2-col">
        <div class="tool-logo-card">
          <img class="tool-card-star" *ngIf="context.tool.fields['Staff pick']" src="../../../assets/img/plateforme/star_ico.svg">
          <img src="{{ context.tool.fields['Logo'][0]['url'] }}" class="tool-logo" *ngIf="context.tool.fields['Logo']">
        </div>
      </div>

      <div class="mdl-cell mdl-cell--8-col">
        <h4 class="tool-card-title"> {{ context.tool.fields['Tool'] }} </h4>
        <p class="tool-card-privacy"> {{ context.tool.fields['Data privacy compliance'] }} </p>
        <p> {{ context.tool.fields['Description'] }}</p>
      </div>

      <div class="action-button mdl-cell mdl-cell--2-col">
        <a class="mdl-button position-action-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" href="{{ context.tool.fields['Link'] }}" target="_blank">
          <i class="material-icons">file_download</i>
        </a>
      </div>

      <div class="mdl-cell mdl-cell--12-col tool-card-platform-icon-container">

      <div class="mdl-cell mdl-cell--12-col">
       <span class="mdl-chip chip-card" *ngFor="let usage of context.tool.fields['Usage']">
           <span class="mdl-chip__text"> {{ usage }} </span>
       </span>
      </div>

      <div class="tool-card-platform-container">
        <ng-container *ngFor="let platform of context.tool.fields['Plateforme']">
          <img class="tool-card-platform-icon" *ngIf="platform == 'Android'" src="../../../assets/img/plateforme/Android_ico.svg">
          <img class="tool-card-platform-icon" *ngIf="platform == 'Desktop PC'" src="../../../assets/img/plateforme/Windows_ico.svg">
          <img class="tool-card-platform-icon" *ngIf="platform == 'iOS'" src="../../../assets/img/plateforme/Apple_ico.svg">
          <img class="tool-card-platform-icon" *ngIf="platform == 'Web'" src="../../../assets/img/plateforme/Web_ico.svg">
        </ng-container>
      </div>

      <div class="video-container">
      <iframe class="video"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(embedify( context.tool.fields['Tuto video link'] ))"
        frameborder="0" allowfullscreen *ngIf="context.tool.fields['Tuto video link']"></iframe>
      </div>

      <div class="tool-card-expert" *ngIf="context.experts[0]">
        <p class="expert-label">Nos experts sur cet outil :</p>
        <p>
          <ng-container *ngFor="let expert of context.experts" >
            <img src="{{ expert.fields['Picture'][0]['url'] }}" class="tool-card-expert-picture clickable" *ngIf="expert.fields['Picture']" (click)="crispContactExpert(expert, context.tool)">
            {{ expert.fields['Name'] }}
          </ng-container>
        </p>
      </div>

    </div>

      <div class="tool-card-information mdl-cell mdl-cell--6-col">
        <h5 class="tool-card-wording-title-information">Killing Features</h5>
        <p class="tool-card-wording-information"> {{ context.tool.fields['Killing Features'] }} </p>
      </div>

      <div class="tool-card-information mdl-cell mdl-cell--6-col">
        <h5 class="tool-card-wording-title-information">Pricing</h5>
        <p class="tool-card-wording-information"> {{ context.tool.fields['Pricing'] }} </p>
      </div>

      <div class="tool-card-information mdl-cell mdl-cell--12-col">
        <h5 class="tool-card-wording-title-information">Linked Content</h5>

        <ng-container *ngFor="let article of context.linkedContent">
          <a href="{{ article.fields['Link'] }}" target="_blank">
            <div class="mdl-card mdl-shadow--2dp linked-content-card tool-article-card">

            <div class="tool-card-text-container">
                {{ article.fields['Content'] }}
            </div>
              <div class="mdl-card__title mdl-card--expand article-img-container">
                <img src="{{ article.fields['Picture'][0]['url'] }}" class="article-card-img" *ngIf="article.fields['Picture']">
            </div>

            </div>
          </a>
        </ng-container>
      </div>

    </div>
  </div>


</div>
