    <!-- Uses a header that contracts as the page scrolls down. -->
    <div mdl class="demo-layout-waterfall mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--waterfall custom-header">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">
            <a routerLink="/" class="mdl-layout__tab">
              <img class="logo-shortcut" src="../assets/img/logo-shortcut.png">
            </a>
          </span>
          <div class="mdl-layout-spacer"></div>

          <div class="mdl-layout__header-row home_header_large mdl-layout--large-screen-only">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" disabled style="opacity:0.3">Mes cours</a>
              <a class="mdl-navigation__link" routerLink="/our-story" >Nos convictions</a>
              <a class="mdl-navigation__link" routerLink="/contact" >Notre projet</a>
            </nav>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="waterfall-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample"
                     id="waterfall-exp">
            </div>
          </div>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">
          GeekMeUp
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" routerLink="/" >Home</a>
          <a class="mdl-navigation__link" disabled style="opacity:0.3" >Mes Cours</a>
          <a class="mdl-navigation__link" routerLink="/our-story" >Nos convictions</a>
          <a class="mdl-navigation__link" routerLink="/contact" >Notre projet</a>
        </nav>
      </div>
      <main class="mdl-layout__content" #outlet>
        <div class="page-content">
          <router-outlet (activate)="onActivate($event, outlet)"></router-outlet>
        </div>

        <footer class="mdl-mini-footer custom-footer">
          <div class="mdl-mini-footer__left-section container">
            <div class="mdl-logo"> <h4> GeekMeUp </h4> <p>Work better through digital </p> </div>
          </div>
        </footer>

      </main>
    </div>
