<div class="container-header">
  <div class="mdl-grid tagline">
    <div class="mdl-cell mdl-cell--12-col">
      <h3> Our Story </h3>
    </div>
  </div>
</div>

<div class="constat1-background-cell">

  <div class="mdl-cell mdl-cell--12-col constat-head-title">
    <h4> Nos 3 constats fondateurs </h4>
  </div>

  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--4-col constat-container">
      <img src="https://image.flaticon.com/icons/svg/145/145217.svg" class="constat-img-top">
      <h6>On travaille encore avec <br> des outils préhistoriques</h6>
    </div>

    <div class="mdl-cell mdl-cell--4-col constat-container">
      <img src="https://image.flaticon.com/icons/svg/326/326929.svg" class="constat-img-top">
      <h6>Se former tout seul <br> c'est un peu la jungle ! </h6>
    </div>

    <div class="mdl-cell mdl-cell--4-col constat-container">
      <img src="https://image.flaticon.com/icons/svg/167/167753.svg" class="constat-img-top">
      <h6>L'apprentissage théorique, <br> ça marche pas super bien </h6>
    </div>

    <div class="mdl-cell mdl-cell--7-col">
      <img src="../../../assets/img/constat_1.png" class="constat-img">
    </div>
    <div class="mdl-cell mdl-cell--5-col constat-container-text-right">
      <h4>On travaille encore avec des outils préhistoriques</h4>
      <p class="constat-text"> A l'ère du digital tout évolue super vite et on n'a très rapidement plus les bons outils et les bonnes pratiques pour faire naître nos projets efficacement. Ce qu'apprennent les étudiants en école est déjà obsolète lorsqu'il arrivent sur le marché du travail </p>
    </div>

  </div>
</div>

<div class="constat2-background-cell">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col constat-container-text-left">
      <h4>Se former tout seul c'est un peu la jungle ! </h4>
      <p class="constat-text-left"> On n'a pas tous le temps ni l'envie d’écumer Google tous les jours à la recherche de nouveaux outils. Quand il s'agit de rester à la pointe sur les nouvelles technos, on préfère souvent s'en remettre aux conseils de notre geek favoris </p>
    </div>

    <div class="mdl-cell mdl-cell--7-col">
      <img src="../../../assets/img/constat_2.png" class="constat-img">
    </div>

  </div>
</div>

<div class="constat3-background-cell">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--7-col">
      <img src="../../../assets/img/constat_3.png" class="constat-img">
    </div>
    <div class="mdl-cell mdl-cell--5-col constat-container-text-right">
      <h4>L'apprentissage théorique, ça marche pas super bien</h4>
      <p class="constat-text"> On apprend mieux en faisant des cas pratiques par soi même : "Learning by doing" ! L'aspect ludique et concret favorise l'adoption de nouvelles manières de faire et réintroduit du plaisir à apprendre au quotidien </p>
    </div>

  </div>
</div>

<!--
<div class="mdl-cell mdl-cell--12-col">
  <h2> Prenons un exemple </h2>
  Christine doit collecter le nombre de stagiaires par entité pour ensuite en faire la somme. <br>
  <ul>
    <li>Elle envoi un mail groupé aux 23 directeurs de pole.</li>
    <li>Ceux-ci répondent en laissant tout le monde dans la boucle. </li>
    <li>Des discussions internes n'ayant rien à voir avec le sujet s'invitent dans la boucle de mail.</li>
    <li>A chaque mail reçu elle interrompt son travail pour venir copier-coller la valeur reçue dans un Excel. </li>
    <li>Evidemment il faut relancer les retardataires...</li>
    <li>3 jours après, Christine peut enfin synthétiser un rapport Powerpoint et l'envoyer à son boss.</li>
  </ul>
  <br><br>
  Nous pensons que ce genre de tâches répétitives à faible valeur ajouté dénuent le travail de sens et abaissent des personnes au rang de machines. <br><br>
  Imaginez si Christine avait su utiliser un outil de sondage collaboratif muni de relances automatiques... :)
</div>
!-->
