.tagline {
  width: 100%;
  text-align: center;
}

.container-header {
  width: 80%;
  padding: 0 10%;
  background-color: #3f51b5;
}

.constat-container {
    text-align: center;
    padding: 20px;
}

.constat-text {
  font-family: Montserrat;
  font-size: 8pt;
  color: #0062ad;
  font-weight: bold;
}

.constat-text-left {
  font-family: Montserrat;
  font-size: 8pt;
  color: white;
  font-weight: bold;
}

.constat-img {
  margin: -20px;
  width: 130%;
}

.constat-img-top {
    margin: auto;
    width: 40%;
    padding: 25px 50px 25px 50px;
}

.container {
  margin: auto;
}

.constat1-background-cell {
  min-height: 300px;
  background-color: #BADAFF;
  padding-top: 20px;
}

.constat2-background-cell {
  min-height: 300px;
  background-color: #04bfbf;
}

.constat3-background-cell {
  min-height: 300px;
  background-color: #7ecffe;
}

.constat-container-text-right {
  text-align: left;
  padding: 25px 50px 50px 50px;
  margin-top: 40vh;
  transform: translateY(-50%);
  display: table;
}

.constat-container-text-left {
  text-align: right;
  padding: 25px 50px 50px 50px;
  margin-top: 40vh;
  transform: translateY(-50%);
  display: table;
}

.constat-head-title {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}

h3 {
  font-family: Montserrat;
  font-size: 18pt;
  color: #93C2F9;
}

h4 {
  font-family: Montserrat;
  font-size: 16pt;
  color: #003056;
  margin-bottom: 40px;
}

h6 {
font-family: Montserrat;
font-size: 10pt;
color: #0062ad;
}

h2 {
  font-family: Montserrat;
  font-size: 18pt;
  color: #93C2F9;
  text-align: center;
}
