/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ECF1F7
}

.clickable {
  cursor: pointer;
}

.modal-content {
  border-radius: 25px 25px 6px 6px;
}