<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset subscribe-container">

      <img src="../../assets/img/newsletter.png" class="newsletter-image">

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <h4>Dans notre newsletter, on te parle des derniers outils à la pointe</h4>
            <h5>(Garantie 100% sans spam )</h5>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">

                <div class="subscribe-input-container">
                  <input type="email" name="EMAIL" ngModel #EMAIL="ngModel" placeholder="Email" class="email-input">
                  <button class="mdl-button mdl-js-button mdl-button--icon" type="submit" value="Subscribe" name="subscribe">
                      <i class="material-icons subscribe-send-button">send</i>
                  </button>
                </div>

              </div>
            </div>
        </form>

    </div>
  </div>
</div>