<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-phone mdl-cell--0-offset-phone subscribe-container">

      <img src="../../assets/img/newsletter.png" class="newsletter-image mdl-layout--large-screen-only">

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <h4>Dans notre newsletter, on te parle des derniers outils à la pointe</h4>
            <h5>(Garantie 100% sans spam )</h5>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop mdl-cell--12-col-phone mdl-cell--0-offset-phone">
                <div class="subscribe-input-container">
                  <input type="email" name="EMAIL" ngModel #EMAIL="ngModel" placeholder="Email" class="email-input">
                </div>
              </div>
              <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--12-col-phone">
                <button class="mdl-button mdl-js-button mdl-button--icon button-subscribe" type="submit" value="Subscribe" name="subscribe">
                  <i class="material-icons subscribe-send-button">send</i>
                </button>
              </div>
            </div>
        </form>

    </div>
  </div>
</div>

<ng-template #congrats>
  <span class="mdl-chip subscribe-chip">
    <span class="mdl-chip__text subscribe-text">Thank you for subscribing!</span>
  </span>
</ng-template>
<ng-template #error>
  <span class="mdl-chip subscribe-chip">
    <span class="mdl-chip__text subscribe-text">Sorry! An unknown error occured.</span>
  </span>
</ng-template>
