/* USER MESSAGE */

#chatbot-div{
  margin-top: 50px;
  height:500px;
}

.user-message-div{
  display: block;
  margin-top: 30px;
}

.user-message-input{
  bottom: 0;
  width: 96%;
  height: 50px;
  padding: .3em 2%;
  font-size: 1.5em;
  font-family: "Open Sans";
  border-radius: 5px;
  border: solid 1px grey;
}

#icon-send{
  float: right;
  position: relative;
  color:#08f;
  margin-top: -45px;
  margin-right: 20px;
}

.hidden {
  display: none;
}


/* CHATBOT */

ul.ChatLog {
  list-style: none;
}

.ChatLog {
  width:100%;
  margin: 0 auto;
  padding: 1em;
  height: 500px;
  overflow-y: auto;
}

.ChatLog::-webkit-scrollbar-track
{
	background-color: transparent;
	border-radius: 10px;
}

.ChatLog::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.ChatLog::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(73,125,200)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(73,125,180)));
}

.ChatLog .ChatLog__entry {
  padding: 0.5em;
}

.ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}

.ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;
}

.ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;

}

.ChatLog__entry.ChatLog__entry_mine
.ChatLog__avatar {
  display: none;
}

.ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
  text-align: left;
}

.ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: 1.1em;
  left: -11px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: white;
  z-index: 2;
  display: none; /* NOT VISIBLE */
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
  display: none; /* NOT VISIBLE */
}

a.ChatLog__quickReplies{
  color: #fff;
  border: 1px solid #fff;
  padding: .5em 1em;
  border-radius: 20px;
  margin: 0.3em 0em 0 1em;
  text-decoration: none;

  font-family: Roboto;
  font-size: 11pt;
  font-weight: 300;
  font-style: normal;
}

.blank-avatar{
  display: inline-block;
  width: 70px;
  margin-top: 20px;
}

.ChatLog__message {
  border: 1px solid white;
  background-color: white;
  padding: 0.9em 1.4em;
  border-radius: 30px;
  font-family: Roboto;
  font-size: 11pt;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  line-height: 18px;
}

.ChatLog__message a {
  background-color: #08f;
  padding: 5px 14px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 3px;
}

.ChatLog__message i {
  vertical-align: bottom;
  margin-right: 4px;
}

.ChatLog__loader{
  background-color: #FFF;
  padding: .5em 1em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
  width:50px;
}

.ChatLog__loader .chatLog-loader-img{
  position: relative;
  width: 50px;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border: 1px solid #08f;
  background-color: #08f;
  color: #fff;
}

.ChatLog__message .ChatLog__timestamp {
  display: none;
}

.img-msg {
  max-width:600px;
}

.ChatLog__message__img {
  background-color: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
}

.typing-loader {
  width: 30px;
  float: left;
  margin-left: 90px;
  margin-top: 20px;
}

.user-message-div {
  display: none;
}




.mdl-navigation__link {
  color: black !important;
}

.demo-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.chatbot-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.chatbot-content {
  border-radius: 2px;
  padding: 0px 56px;
  margin-bottom: 80px;
}




/* TOOL CARD */


.tool-card {
  border-radius: 15px;
  padding: 10px;
  margin-top: 40px;
  overflow: visible;
  background-color: transparent;
}

.tool-card-star {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
}

.tool-card-content {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  height: 200px;
  box-shadow: 0 9px 46px 3px rgba(0, 0, 0, 0.05), 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0);
  position: relative;
}

.tool-logo {
  width: 60%;
  border-radius: 5px;
  margin: auto;
  max-height: 100px;
  display: block;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  margin-top: 15px;
}

.tool-logo-card {
  border-radius: 15px;
  margin: 0 auto;
  max-height: 100px;
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: white;
  width: 100px;
  height: 100px;
  position: relative;
}

.tool-card-platform-icon {
  width: 25px;
}

.tool-card-platform-icon-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}


.truc {
  font-family: Montserrat;
  font-size: 9pt;
  font-weight: 300;
  font-style: normal;
  color: #93C2F9;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tool-card-difficulty {
  font-family: Montserrat;
  font-size: 9pt;
  font-weight: bold;
  color: #CEE5FF;
  margin-top: -15px;
}

h4 {
  font-family: Montserrat;
  font-size: 16pt;
  color: #93C2F9;
  font-weight: ;
}

h5 {
  font-family: Montserrat;
  font-size: 13pt;
  color: #93C2F9;
  font-weight: ;
}
